@charset "utf-8";


@mixin color($colorScheme) {
  @if $colorScheme == light {
    @media (prefers-color-scheme: light) {
      @content;
    }
  }
  @if $colorScheme == dark {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}



@include color(dark) {
    $scheme_brand: #003049;
    $text_brand: #dee2e6;

    // bulma global variables
    $scheme-main: $scheme_brand;
    $background: $scheme-main;

    $text: $text_brand;
    $text-light: $text_brand;
    $text-strong: $text_brand;

    // bulma component variables
}

@include color(light) {
}

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


@import "./dist-libs/bulma/sass/base/_all.sass";
@import "./dist-libs/bulma/sass/components/_all.sass";
@import "./dist-libs/bulma/sass/elements/_all.sass";
@import "./dist-libs/bulma/sass/form/_all.sass";
@import "./dist-libs/bulma/sass/grid/_all.sass";
@import "./dist-libs/bulma/sass/helpers/_all.sass";
@import "./dist-libs/bulma/sass/layout/_all.sass";
@import "./dist-libs/bulma/sass/utilities/_all.sass";

