@charset "utf-8";

@media (prefers-color-scheme: dark) {
    $scheme-brand: #141414;
    $text-brand: #dee2e6;
    $primary-brand: #3f51b5;
    $link-hover-brand: #d002e6;

    // bulma global variables
    $scheme-main: $scheme-brand;
    $background: $scheme-brand;
    $link-hover: $link-hover-brand;
    $navbar-dropdown-item-hover-color: $link-hover-brand;

    $body-background-color: $scheme-brand;
    $footer-background-color: $scheme-brand;
    $navbar-background-color: $scheme-brand;
    $primary: $primary-brand;

    $text: $text_brand;
    $text-light: $text_brand;
    $text-strong: $text_brand;

    @import "./dist-libs/bulma/sass/base/_all.sass";
    @import "./dist-libs/bulma/sass/components/_all.sass";
    @import "./dist-libs/bulma/sass/elements/_all.sass";
    @import "./dist-libs/bulma/sass/form/_all.sass";
    @import "./dist-libs/bulma/sass/grid/_all.sass";
    @import "./dist-libs/bulma/sass/helpers/_all.sass";
    @import "./dist-libs/bulma/sass/layout/_all.sass";
    @import "./dist-libs/bulma/sass/utilities/_all.sass";
}

